USE master
GO

-- Borrar la base anterior si existe
IF DB_ID('salaEscape') IS NOT NULL
BEGIN
    ALTER DATABASE salaEscape SET SINGLE_USER WITH ROLLBACK IMMEDIATE
    DROP DATABASE salaEscape
END
GO

-- Crear la base de datos nuevamente
CREATE DATABASE salaEscape
GO

USE salaEscape
GO

-- =========================================
-- TABLA PARTIDAS
-- =========================================

CREATE TABLE Partidas
(
    PartidaId INT IDENTITY(1,1) PRIMARY KEY,
    NombreParticipante VARCHAR(50) NOT NULL,
    FechaInicio DATETIME NOT NULL,
    FechaFin DATETIME NULL,
    Estado VARCHAR(20) NOT NULL,
    SalaActualId INT NOT NULL
)
GO

-- =========================================
-- TABLA SALAS
-- =========================================

CREATE TABLE Salas
(
    SalaId INT IDENTITY(1,1) PRIMARY KEY,
    Numero INT NOT NULL,
    Titulo VARCHAR(100) NOT NULL,
    Narrativa VARCHAR(1000) NOT NULL,
    Desafio VARCHAR(1000) NOT NULL,
    Pista VARCHAR(1000) NOT NULL,
    RespuestaCorrecta VARCHAR(100) NOT NULL
)
GO

-- =========================================
-- TABLA RESPUESTAS
-- =========================================

CREATE TABLE Respuestas
(
    RespuestaId INT IDENTITY(1,1) PRIMARY KEY,
    PartidaId INT NOT NULL,
    SalaId INT NOT NULL,
    RespuestaIngresada VARCHAR(100) NOT NULL,
    Correcta BIT NOT NULL,
    Fecha DATETIME NOT NULL,

    CONSTRAINT FK_Respuestas_Partidas
        FOREIGN KEY (PartidaId)
        REFERENCES Partidas(PartidaId),

    CONSTRAINT FK_Respuestas_Salas
        FOREIGN KEY (SalaId)
        REFERENCES Salas(SalaId)
)
GO

-- =========================================
-- INSERTAR LAS 4 SALAS
-- =========================================

GO
USE salaEscape
GUSE salaEscape
GO

UPDATE Salas
SET Titulo = 'Playa de Desembarco',
    Narrativa = 'Llegaste en bote a la Isla Tiburón, una zona aislada que quedó abandonada después de que un cargamento del ejército naufragara en la costa. Cuentan que una exploradora llamada Skye instaló ahí un laboratorio escondido para investigar a los tiburones armados que empezaron a rondar la isla después del naufragio. Nadie sabe bien qué encontró, pero desde entonces la isla quedó bajo fuerte vigilancia y solo se puede entrar... o salir... resolviendo los desafíos que ella misma dejó instalados. Apenas pisás la arena, ves un cartel de madera gigante con el nombre de la isla, aunque le falta una palabra.',
    Desafio = 'El cartel dice: "Bienvenido a la Isla ______". Escribí la palabra que falta.',
    Pista = 'Es el animal que le da nombre a toda la isla.',
    RespuestaCorrecta = 'TIBURON'
WHERE Numero = 1
GO

UPDATE Salas
SET Titulo = 'El Laboratorio de Skye',
    Narrativa = 'Siguiendo unas huellas en la arena llegás a la entrada de un laboratorio subterráneo. Es el mismo que construyó Skye para estudiar a los tiburones de la isla. Hay una puerta con teclado numérico. En la pared ves un cartel: el laboratorio tiene 4 pisos en total, y vos estás parado justo en el Piso 1.',
    Desafio = 'El código de la puerta son los 4 números de piso, del 1 al 4, escritos en orden.',
    Pista = 'Estás en el piso 1 de 4. Escribí los cuatro números en orden, uno después del otro.',
    RespuestaCorrecta = '1234'
WHERE Numero = 2
GO

UPDATE Salas
SET Titulo = 'La Jaula de los Tiburones',
    Narrativa = 'Frente a la jaula hay un guardia dormido con un cartel pegado en la reja.',
    Desafio = 'El cartel dice: "La palabra mágica para salir de acá es literalmente lo que estás tratando de hacer en todo este juego." Escribí esa palabra.',
    Pista = 'Es el objetivo del juego completo: ______ de la isla.',
    RespuestaCorrecta = 'ESCAPAR'
WHERE Numero = 3
GO

UPDATE Salas
SET Titulo = 'El Vault Final',
    Narrativa = 'Llegaste a una cámara subterránea donde se guarda todo lo que Skye descubrió sobre los tiburones. Frente a la puerta hay un botón rojo con un cartel.',
    Desafio = 'El cartel dice: "Presioná el botón y gritá la orden para irte de acá." Escribí esa orden.',
    Pista = 'Es lo que le dirías a alguien (o a vos mismo) cuando querés irte de un lugar.',
    RespuestaCorrecta = 'SALIR'
WHERE Numero = 4
GO